.env
__pycache__
target
mono.in
mono.out
.vscode
*.err
*.log
voices.txt
.venv
xx*
weavelang_pipeline.egg-info
temp
.github/
.llm_cache/
Metamorphosis.json
*.exe
*.lm
output
weave_output
test_temp
Metamorphosis_12.json
